.searchBar {
    border: 1px solid #181C14;
    border-radius: 5px;
}

.btnSearch {
    border: none;
    padding: 5px 10px;
    background-color: rgb(46, 124, 0);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    transition: .5s;
}

.input {
    border: none;
    outline: none;
    padding: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search {
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 5;
    text-shadow: 0 0 1px black;
    padding: 3px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}